[Unit]
Description=Cypress Display
Wants=NetworkManager.service network-online.target
After=multi-user.target
Requires=multi-user.target

[Service]
User=cedar
WorkingDirectory=/home/cedar/cypress/bin
Type=simple
ExecStart=/home/cedar/cypress/bin/cypress-display

[Install]
WantedBy=multi-user.target
